# Application
APP_CONFIG__RUN__TITLE=Labor costs
APP_CONFIG__RUN__HOST=localhost

#Database
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__NAME=postgres
APP_CONFIG__DB__PORT=5452
APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__PASSWORD=strong_password
APP_CONFIG__DB__ECHO=False
APP_CONFIG__DB__ECHO_POOL=False
APP_CONFIG__DB__POOL_SIZE=50
APP_CONFIG__DB__MAX_OVERFLOW=10

# Authenticate
APP_CONFIG__AUTH__KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
APP_CONFIG__AUTH__ALGORITHM=HS256

# PGAdmin
APP_CONFIG__PGADMIN__EMAIL=admin@example.com
APP_CONFIG__PGADMIN__PASSWORD=strong_password
APP_CONFIG__PGADMIN__PORT=5000

# Service superuser (id=0), created at app startup
APP_CONFIG__ADMIN__EMAIL=admin@system.com
APP_CONFIG__ADMIN__PASSWORD=changeme